{
  "env":{
      "browser": true,
      "es6": true
  },
  "extends": ["prettier"],
  "parser": "babel-eslint",
  "parserOptions": {
      "ecmaFeatures": {
          "jsx": true
      },
      "ecmaVersion": 2018,
      "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
      "no-cond-assign":"error",
      "no-var":"error",
      "quote-props":"error",
      "no-console":"error",
      "quotes":["error","single"],
      "strict":0,
      "indent":["error",2],
      "semi":["error","always"],
      "space-before-function-paren":"error",
      "space-before-blocks":"error",
      "no-param-reassign":"error",
      "prefer-arrow-callback":"error",
      "arrow-spacing":"error",
      "arrow-parens":"error",
      "no-duplicate-imports":"error",
      "brace-style":"error",
      "spaced-comment":"error"
  }
}